[role="ticketDetails"] {
    padding-top: 133px; /* Space for fixed navbar */
  }
  
@media (min-width: 768px) {
    [role="ticketDetails"] {
      padding-top: 60px; /* Space for fixed navbar */
    }
}

.container {
    max-width: 960px;
}
  
.lh-condensed { line-height: 1.25; }
  
#formTitle {
    padding-top: 100px;
}

#saveTicket {
  margin-right: 15px;
}

#reopenTicket {
  margin-right: 15px;
}

#saveTicketIcon {
  vertical-align: middle; 
  text-align: center;
  margin-right: 8px;
}

#closeTicketIcon {
  vertical-align: middle; 
  text-align: center;
  margin-right: 8px;
}

#reopenTicketIcon {
  vertical-align: middle; 
  text-align: center;
  margin-right: 8px;
}

#deleteTicketIcon {
  vertical-align: middle; 
  text-align: center;
  margin-right: 8px;
}