<div role="ticketDetails" class="container">
    <div id="commentAlert" *ngIf="this.commentSuccess==false" class="alert alert-danger" role="alert">
        {{ 'ticketDetails.createError' | translate }}
    </div>
    <div id="deleteAlert" *ngIf="this.deleteSuccess==true" class="alert alert-success" role="alert">
        {{ 'ticketDetails.deleteSuccess' | translate }}
    </div>
    <div id="deleteAlert2" *ngIf="this.deleteSuccess==false" class="alert alert-danger" role="alert">
            {{ 'ticketDetails.deleteError' | translate }}
        </div>
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ ticket.title }}</h1>
        <div *ngIf="ticket.status!='closed'" class="btn-toolbar mb-2 mb-md-0">
            <button id="saveTicket" type="button" class="btn btn-primary btn-md" (click)="addComment(ticket.id)"><i
                    id="saveTicketIcon" class="material-icons">save</i>{{ 'ticketDetails.save' | translate }}</button>
            <button *ngIf="auth.isAdmin()" type="button" class="btn btn-warning btn-md" (click)="closeTicket(ticket)"><i
                    id="closeTicketIcon"
                    class="material-icons">close</i>{{ 'ticketDetails.close' | translate }}</button>
        </div>
        <div *ngIf="ticket.status=='closed'" class="btn-toolbar mb-2 mb-md-0">
            <button id="reopenTicket" type="button" class="btn btn-warning btn-md" (click)="reOpenTicket(ticket)"><i
                    id="reopenTicketIcon"
                    class="material-icons">undo</i>{{ 'ticketDetails.reopen' | translate }}</button>
            <button *ngIf="auth.isAdmin()" type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#deleteTicketModal"
                (click)="sendModalData(ticket)"><i id="deleteTicketIcon"
                    class="material-icons">delete</i>{{ 'ticketDetails.delete' | translate }}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="title">{{ 'ticketDetails.title' | translate }}</label>
            <input value="{{ this.ticket.title }}" name="title" type="text" class="form-control" id="title" placeholder=""
                value="" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="creator">{{ 'ticketDetails.creator' | translate }}</label>
            <input value="{{ this.ticket.creator }} ({{ this.ticketCreatorEmail }})" name="creator" type="text" class="form-control" id="creator"
                placeholder="" value="" disabled>
        </div>
        <div class="col-md-6 mb-3">
            <label for="status">{{ 'ticketDetails.status' | translate }}</label>
            <input value="{{ this.ticket.status }}" name="status" type="text" class="form-control" id="status" placeholder=""
                value="" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="modified">{{ 'ticketDetails.modified' | translate }}</label>
            <input value="{{ this.ticket.modified | date:'short' }}" name="modified" type="text" class="form-control" id="modified"
                placeholder="" value="" disabled>
        </div>
        <div class="col-md-6 mb-3">
            <label for="created">{{ 'ticketDetails.created' | translate }}</label>
            <input value="{{ this.ticket.created | date:'short' }}" name="created" type="text" class="form-control" id="created"
                placeholder="" value="" disabled>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="description">{{ 'ticketDetails.description' | translate }}</label>
                    <textarea value="{{ this.ticket.description }}" class="form-control" name="description" id="description"
                        rows="4" disabled></textarea>
                </div>
                <hr *ngIf="ticket.status!='closed'" class="mb-4">
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" novalidate>
                <div *ngIf="ticket.status!='closed'" class="form-group">
                    <label for="comment">{{ 'ticketDetails.comment' | translate }}</label>
                    <textarea [(ngModel)]="newComment.message" class="form-control" name="comment" id="comment" rows="5"
                        placeholder="{{ 'ticketDetails.maxchar' | translate }}"></textarea>
                </div>
                <div *ngFor="let comment of comments">
                    <hr>
                    <span><strong>{{ comment.creator }}</strong> --- {{ comment.created | date:'short'}}</span>
                    <br>
                    <span>{{ comment.message }}</span>
                </div>
                <hr *ngIf="ticket.status!='closed'" class="mb-4">
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020 ESEIMS</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a routerLink="/info">Privacy</a></li>
            <li class="list-inline-item"><a routerLink="/info">Terms</a></li>
            <li class="list-inline-item"><a routerLink="/info">Support</a></li>
            <li class="list-inline-item"><a href="mailto:eseims@outlook.com">Contact</a></li>
        </ul>
    </footer>
</div>

<div class="modal fade" id="deleteTicketModal" tabindex="-1" role="dialog" aria-labelledby="deleteTicketModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTicketModalLabel">{{ 'ticket.modalDeleteTicket' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ 'ticket.modalQuestion' | translate }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">{{ 'ticket.modalClose' | translate }}</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="deleteComment(modalTicketId); deleteTicket(modalTicketId)">{{ 'ticket.modalDeleteTicket' | translate }}</button>
            </div>
        </div>
    </div>
</div>
