[role="ticketForm"] {
    padding-top: 133px; /* Space for fixed navbar */
  }
  
@media (min-width: 768px) {
    [role="ticketForm"] {
      padding-top: 60px; /* Space for fixed navbar */
    }
}

.container {
    max-width: 960px;
}
  
.lh-condensed { line-height: 1.25; }
  
#formTitle {
    padding-top: 60px;
}

#sendTicketIcon {
  vertical-align: middle; 
  text-align: center;
  margin-right: 8px;
}

#createAlert {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

#createAlert2 {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}