[role="home"] {
    padding-top: 133px; /* Space for fixed navbar */
  }

@media (min-width: 768px) {
    [role="home"] {
      padding-top: 60px; /* Space for fixed navbar */
    }
}

iframe {
  margin-top: 60px;
  pointer-events: none;
}

.container {
  overflow: hidden;
  width: 100%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
