export var eseims_infrastructure_overview:string = 'http://{{ server_ip }}:{{ grafana_port }}/d/i70DWsjWk/eseims-vision-general?orgId=1&kiosk';
export var eseims_host_overview:string = 'http://{{ server_ip }}:{{ grafana_port }}/d/nmcimT9Zz/eseims-equipos?orgId=1';
