<form class="form-signin">
    <h1>ESEIMS</h1>
   <!-- <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> -->
    <label for="inputEmail" class="sr-only">{{ 'login.email' | translate }}</label>
    <input [(ngModel)]="loginData.email" name="email" type="email" id="inputEmail" class="form-control" placeholder="{{ 'login.email' | translate }}" required autofocus>
    <label for="inputPassword" class="sr-only">{{ 'login.password' | translate }}</label>
    <input [(ngModel)]="loginData.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="{{ 'login.password' | translate }}" required>
    <button (click)="loginUser()" class="btn btn-lg btn-primary btn-block" type="submit">{{ 'login.signin' | translate }}</button>
    <p>{{ 'login.createAccount' | translate }} <a routerLink="/register">{{ 'login.here' | translate }}</a></p>
    <p>{{ 'login.forgotPass' | translate }} <a routerLink="/">{{ 'login.here' | translate }}</a></p>
 <!--   <p class="mt-5 mb-3 text-muted">&copy; 2020-{{ site.time | date: "%Y" }}</p> -->
</form>