[role="user"] {
    padding-top: 133px; /* Space for fixed navbar */
  }
  
  @media (min-width: 768px) {
    [role="user"] {
      padding-top: 60px; /* Space for fixed navbar */
    }
  }

  #visibilityButton {
    border-color: #5DBAE8;
  }
  #visibilityButton>i {
    color: #5DBAE8;
  }
  #editButton {
    border-color: #FFDE87;
    margin-left: 10px;
    margin-right: 10px;
  }
  #editButton>i {
    color: #FFDE87;
  }
  #deleteButton {
    border-color: #FF7E6D;
  }
  #deleteButton>i {
    color: #FF7E6D;
  }