<div role="user" class="col-md-12 ml-sm-auto col-lg-20 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Users</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-success btn-md" routerLink="/register">New User</button>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="dni" [(ngModel)]="dni">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchByDNI(dni)">Search</button>
          </form>
    </div>
    <div>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Email</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Role</th>
                    <th scope="col">Creation</th>
                </tr>
            </thead>
            <tbody *ngIf="!search">
                <tr *ngFor="let user of users">
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.dni }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.created }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="selectUser(user.id)"><span class="glyphicon glyphicon-edit"></span>view</button>
                        <button type="button" class="btn btn-warning" (click)="editUser(user.id)"><i class="fas fa-edit"></i>edit</button>
                        <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)"><i class="far fa-trash-alt">delete</i></button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="search">
                <tr *ngFor="let user of users">
                    <td *ngIf="user.dni == searchDNI">{{ user.name }}</td>
                    <td *ngIf="user.dni == searchDNI">{{ user.surname }}</td>
                    <td *ngIf="user.dni == searchDNI">{{ user.email }}</td>
                    <td *ngIf="user.dni == searchDNI">{{ user.dni }}</td>
                    <td *ngIf="user.dni == searchDNI">{{ user.role }}</td>
                    <td *ngIf="user.dni == searchDNI">{{ user.created }}</td>
                    <td *ngIf="user.dni == searchDNI">
                        <button type="button" class="btn btn-primary" (click)="selectUser(user.id)"><span class="glyphicon glyphicon-edit"></span>view</button>
                        <button type="button" class="btn btn-warning" (click)="editUser(user.id)"><i class="fas fa-edit"></i>edit</button>
                        <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)"><i class="far fa-trash-alt">delete</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--
<tr *ngFor="let user of users">
    <td *ngIf="user.id == editUserId">{{ user.name }}</td>
    <td><input *ngIf="edit && user.id == editUserId" [(ngModel)]="user.name" name="name" type="text" class="form-control"
            id="name" placeholder="" value=""></td>
    <td *ngIf="!edit">{{ user.surname }}</td>
    <td><input *ngIf="edit && user.id == editUserId" [(ngModel)]="user.surname" name="surname" type="text" class="form-control"
            id="surname" placeholder="" value=""></td>
    <td *ngIf="!edit">{{ user.email }}</td>
    <td><input *ngIf="edit && user.id == editUserId" [(ngModel)]="user.email" name="email" type="email" class="form-control"
            id="email" placeholder="" value=""></td>
    <td *ngIf="!edit">********</td>
    <td><input *ngIf="edit && user.id == editUserId" [(ngModel)]="newPassword" name="pasword" type="password"
            class="form-control" id="password" placeholder="" value=""></td>
    <td *ngIf="!edit">{{ user.dni }}</td>
    <td><input *ngIf="edit && user.id == editUserId" [(ngModel)]="user.dni" name="dni" type="text" class="form-control" id="dni"
            placeholder="" value=""></td>
    <td *ngIf="!edit">{{ user.role }}</td>
    <td><input *ngIf="edit && user.id == editUserId" [(ngModel)]="user.role" name="role" type="text" class="form-control"
            id="role" placeholder="" value=""></td>
    <td>{{ user.created }}</td>
    <td>
        <button type="button" class="btn btn-primary" (click)="selectUser(user.id)"><span
                class="glyphicon glyphicon-edit"></span>view</button>
        <button *ngIf="!edit" type="button" class="btn btn-warning" (click)="editUser(user.id)"><i
                class="fas fa-edit"></i>edit</button>
        <button *ngIf="edit" type="button" class="btn btn-warning btn-md"
            (click)="saveUser(user)">Save</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)"><i
                class="far fa-trash-alt">delete</i></button>
    </td>
</tr>
-->