.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }

#formTitle {
  padding-top: 60px;
}

#registerAlert {
  margin-top: 100px;
  text-align: center;
  background-color: #6dec8c;
  color: #0a2b11;
  font-size: 18px;
}

#inputRole {
  margin-left: 15px;
}

.validations {
  color: red;
}