<div role="userProfile" class="container">
        <div id="deleteAlert" *ngIf="this.deleteSuccess==true" class="alert alert-success" role="alert">
                {{ 'userProfile.deleteSuccess' | translate }}
            </div>
            <div id="deleteAlert2" *ngIf="this.deleteSuccess==false" class="alert alert-danger" role="alert">
                    {{ 'userProfile.deleteError' | translate }}
                </div>
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ 'userProfile.personalData' | translate }} {{ user.name }} {{ user.surname }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button id="editUser" *ngIf="!edit" type="button" class="btn btn-warning btn-md" (click)="editUser()"><i id="editUserIcon" class="material-icons">edit</i>{{ 'userProfile.edit' | translate }}</button>
            <button *ngIf="edit" type="button" class="btn btn-primary btn-md" (click)="saveUser()"><i id="saveUserIcon" class="material-icons">save</i>{{ 'userProfile.save' | translate }}</button>
            <button *ngIf="(!edit&&auth.isAdmin()) && (this.user.email!='admin@esei.uvigo.es'&&this.user.email!='user@esei.uvigo.es')" type="button" class="btn btn-danger btn-md" data-toggle="modal"
            data-target="#deleteUserModal" title="delete" (click)="sendModalData(user.id)"><i id="deleteUserIcon" class="material-icons">delete</i>{{ 'userProfile.delete' | translate }}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name">{{ 'userProfile.name' | translate }}</label>
                        <input *ngIf="!edit" value="{{ this.user.name }}" name="name" type="text" class="form-control" id="name"
                            placeholder="" value="" disabled>
                        <input *ngIf="edit && !auth.isAdmin()" value="{{ this.user.name }}" name="name" type="text" class="form-control" id="name"
                            placeholder="" value="" disabled>
                            <input *ngIf="edit && auth.isAdmin()" [(ngModel)]="user.name" name="name" type="text" class="form-control" id="name"
                            placeholder="" value="">
                        <p class="validations" *ngIf="validations.name===true"> {{ 'userProfile.validName' | translate }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="surname">{{ 'userProfile.surname' | translate }}</label>
                        <input *ngIf="!edit" value="{{ this.user.surname }}" name="surname" type="text" class="form-control" id="surname"
                            placeholder="" value="" disabled>
                        <input *ngIf="edit && !auth.isAdmin()" value="{{ this.user.surname }}" name="surname" type="text" class="form-control" id="surname"
                            placeholder="" value="" disabled>
                        <input *ngIf="edit && auth.isAdmin()" [(ngModel)]="user.surname" name="surname" type="text" class="form-control" id="surname"
                            placeholder="" value="">
                            <p class="validations" *ngIf="validations.surname===true"> {{ 'userProfile.validSurname' | translate }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="email">{{ 'userProfile.email' | translate }}</label>
                        <input *ngIf="!edit" [(ngModel)]="user.email" name="email" type="email" class="form-control" id="email"
                            placeholder="" value="" disabled>
                        <input *ngIf="edit" [(ngModel)]="user.email" name="email" type="email" class="form-control" id="email"
                            placeholder="" value="">
                            <p class="validations" *ngIf="validations.email===true"> {{ 'userProfile.validEmail' | translate }}
                    </div>


                    <div class="col-md-6 mb-3">
                        <label for="password">{{ 'userProfile.password' | translate }}</label>
                        <input *ngIf="!edit" name="password" type="password" class="form-control" id="password" placeholder=""
                            value="fakepass" disabled>
                            <input *ngIf="edit" [(ngModel)]="this.newPassword" name="password" type="password" class="form-control" id="password" placeholder="{{ 'userProfile.passEdit' | translate }}"
                            value="">
                            <p class="validations" *ngIf="validations.password===true"> {{ 'userProfile.validPassword' | translate }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="dni">{{ 'userProfile.idCard' | translate }}</label>
                        <input *ngIf="!edit" name="dni" type="text" class="form-control" id="dni"
                            placeholder="" value="{{ this.user.dni }}" disabled>
                        <input *ngIf="edit && !auth.isAdmin()"name="dni" type="text" class="form-control" id="dni"
                            placeholder="" value="{{ this.user.dni }}" disabled> 
                        <input *ngIf="edit && auth.isAdmin()" [(ngModel)]="user.dni" name="dni" type="text" class="form-control" id="dni"
                            placeholder="" value="">
                            <p class="validations" *ngIf="validations.dni===true"> {{ 'userProfile.validId' | translate }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>{{ 'userProfile.role' | translate }}</label>
                        <div class="form-control">
                            <label class="radio-inline">
                                <input *ngIf="!edit && auth.isAdmin()" type="radio" value="user" name="role" [(ngModel)]="user.role" [checked]="user.role=='user'" disabled>
                                <input *ngIf="edit && auth.isAdmin()" type="radio" value="user" name="role" [(ngModel)]="user.role" [checked]="user.role=='user'">
                                {{ 'userProfile.user' | translate }}
                            </label>
                            <label *ngIf="auth.isAdmin()" class="radio-inline">
                                <input id="inputRole" *ngIf="!edit && auth.isAdmin()" type="radio" value="admin" name="role" [(ngModel)]="user.role" [checked]="user.role=='admin'" disabled>
                                <input id="inputRole3" *ngIf="edit && auth.isAdmin()" type="radio" value="admin" name="role" [(ngModel)]="user.role" [checked]="user.role=='admin'">
                                {{ 'userProfile.admin' | translate }}
                            </label>
                        </div>
                    </div>
                </div>

                <hr class="mb-4">
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020 ESEIMS</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a routerLink="/info">Privacy</a></li>
            <li class="list-inline-item"><a routerLink="/info">Terms</a></li>
            <li class="list-inline-item"><a routerLink="/info">Support</a></li>
            <li class="list-inline-item"><a href="mailto:eseims@outlook.com">Contact</a></li>
        </ul>
    </footer>
</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">{{ 'user.modalDeleteUser' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ 'user.modalQuestion' | translate }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">{{ 'user.modalClose' | translate }}</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="deleteUser(modalData)">{{ 'user.modalDeleteUser' | translate }}</button>
            </div>
        </div>
    </div>
</div>