<div role="ticket" class="col-md-12 ml-sm-auto col-lg-20 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Tickets</h1>
    </div>
    <div>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Assignment</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Created</th>
                    <th scope="col">Modified</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of tickets">
                    <td>{{ ticket.short_description }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.status }}</td>
                    <td>{{ ticket.assignment }}</td>
                    <td>{{ ticket.creator }}</td>
                    <td>{{ ticket.created }}</td>
                    <td>{{ ticket.modified }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Options
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button *ngIf="ticket.status=='open'" class="dropdown-item" type="button" (click)="takeTicket(ticket)">Take progress</button>
                                <button class="dropdown-item" type="button" (click)="selectTicket(ticket.id)">View</button>
                                <button class="dropdown-item" type="button" (click)="deleteTicket(ticket.id)">Close</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>