[role="ticket"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="ticket"] {
    padding-top: 60px; /* Space for fixed navbar */
  }
}

#addTicketIcon {
  vertical-align: middle; 
  text-align: center;
  margin-right: 8px;
}

#optionsIcon {
  vertical-align: middle; 
  text-align: center;
  line-height: normal;
}

#roundRadius {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

#pagination {
  text-align: center;
}

.pointer {
  cursor:pointer;
}